storage none
framework auto-detect
source https://www.nuget.org/api/v2

nuget Proto.Persistence
nuget MySqlConnector
nuget Npgsql
nuget System.Data.Common

nuget Microsoft.NET.Test.Sdk
nuget xunit
nuget xunit.runner.visualstudio
